{% extends "JACableBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block sidebar %}
{% endblock %}


{% block jacable_body %}
<h3>{{ 'advert.cable.add'|trans }}</h3>
{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    <div class="form-group">
        {{ form_label(form.name, 'advert.cable.title'|trans, {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
        {{ form_errors(form.name) }}
        <div class="col-sm-4">
            {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.description, 'advert.cable.content'|trans, {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
        {{ form_errors(form.description) }}
        <div class="col-sm-4">
            {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.volts, 'advert.cable.volts'|trans, {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
        {{ form_errors(form.volts) }}
        <div class="col-sm-2">
            {{ form_widget(form.volts, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.amps, 'advert.cable.amps'|trans, {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
        {{ form_errors(form.amps) }}
        <div class="col-sm-2">
            {{ form_widget(form.amps, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.length, 'advert.cable.length'|trans, {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
        {{ form_errors(form.length) }}
        <div class="col-sm-2">
            {{ form_widget(form.length, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.type, 'advert.cable.device'|trans, {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
        {{ form_errors(form.type) }}
        <div class="col-sm-2">
            {{ form_widget(form.type, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.image, 'advert.cable.content'|trans, {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
        {{ form_errors(form.image) }}
        <div class="col-sm-2">
            {{ form_widget(form.image, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
    {{ form_widget(form.reset, {'attr': {'class': 'btn btn-default'}}) }}


    {# Fermeture de la balise <form> du formulaire HTML #}
    {{ form_end(form) }}
{% endblock %}