{% extends "JACableBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block sidebar %}
    <div class="row">
        <div class="col-md-12">
            <br/>
            <select id="brand-select" class="form-control">
                    <option></option>
                {% for brand in brands %}
                    <option value="{{ brand.id }}">{{ brand.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 toggle-wrap">
            <br/>
            <h4>Trier par <span class="white toggler" href=""><i class="fa fa-caret-down"></i></span></h4>
            <div class="toggle-zone">
                <div class="radio noselect">
                    <input type="radio" id="b1" name="b" value="volts" data-bind="checked: sortBy"/>
                    <label for="b1"><span></span><strong>Voltage</strong></label>
                </div>
                <div class="radio noselect">
                    <input type="radio" id="b2" name="b" value="amps" data-bind="checked: sortBy"  />
                    <label for="b2"><span></span>Ampérage</label>
                </div>
                <div class="radio noselect">
                    <input type="radio" id="b3" name="b" value="length" data-bind="checked: sortBy" />
                    <label for="b3"><span></span>Longueur</label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 toggle-wrap">
            <h4>Appareil <span class="white toggler" href=""><i class="fa fa-caret-down"></i></span></h4>
            <div class="toggle-zone">
                <div class="radio noselect">
                    <input type="radio" id="a4" name="a" value="all" data-bind="checked: filterType"/>
                    <label for="a4"><span></span><strong>Tous</strong></label>
                </div>
                <div class="radio noselect">
                    <input type="radio" id="a1" name="a" value="1" data-bind="checked: filterType"  />
                    <label for="a1"><span></span>Téléphone</label>
                </div>
                <div class="radio noselect">
                    <input type="radio" id="a2" name="a" value="2" data-bind="checked: filterType" />
                    <label for="a2"><span></span>Portable</label>
                </div>
                <div class="radio noselect">
                    <input type="radio" id="a3" name="a" value="3"  data-bind="checked: filterType" />
                    <label for="a3"><span></span>Tablette</label>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 toggle-wrap">
            <h4>Connecteur <span class="white toggler" href=""><i class="fa fa-caret-down"></i></span></h4>
            <div class="toggle-zone connectors">
                <div class="radio">
                    <input type="checkbox" id="b1" name="b1" checked/>
                    <label for="b1"><img src="{{ asset('img/connect/c1-c2.svg')}}" class="svg-inject" alt="c1-c2"/></label>
                </div>
                <div class="radio">
                    <input type="checkbox" id="b2" name="b2" checked/>
                    <label for="b2"><img src="{{ asset('img/connect/c3-c4.svg')}}" class="svg-inject" alt="c3-c4"/></label>
                </div>
                <div class="radio">
                    <input type="checkbox" id="b3" name="b3" checked/>
                    <label for="b3"><img src="{{ asset('img/connect/c5-c6.svg')}}" class="svg-inject" alt="c5-c6"/></label>
                </div>
                <div class="radio">
                    <input type="checkbox" id="b4" name="b4" checked/>
                    <label for="b4"><img src="{{ asset('img/connect/c7-c8.svg')}}" class="svg-inject" alt="c7-c8"/></label>
                </div>
                <div class="radio">
                    <input type="checkbox" id="b5" name="b5" checked/>
                    <label for="b5"><img src="{{ asset('img/connect/c9-c10.svg')}}" class="svg-inject" alt="c9-c10"/></label>
                </div>
                <div class="radio">
                    <input type="checkbox" id="b6" name="b6" checked/>
                    <label for="b6"><img src="{{ asset('img/connect/c11-c12.svg')}}" class="svg-inject" alt="c11-c12"/></label>
                </div>
                <div class="radio">
                    <input type="checkbox" id="b7" name="b7" checked/>
                    <label for="b7"><img src="{{ asset('img/connect/c13-c14.svg')}}" class="svg-inject" alt="c13-c14"/></label>
                </div>
                <div class="radio">
                    <input type="checkbox" id="b8" name="b8" checked/>
                    <label for="b8"><img src="{{ asset('img/connect/c15-c16.svg')}}" class="svg-inject" alt="c15-c16"/></label>
                </div>
                <div class="radio">
                    <input type="checkbox" id="b9" name="b9" checked/>
                    <label for="b9"><img src="{{ asset('img/connect/c15a-c16a.svg')}}" class="svg-inject" alt="c15a-c16a"/></label>
                </div>
                <div class="radio">
                    <input type="checkbox" id="b10" name="b10" checked/>
                    <label for="b10"><img src="{{ asset('img/connect/c17-c18.svg')}}" class="svg-inject" alt="c17-c18"/></label>
                </div>
                <div class="radio">
                    <input type="checkbox" id="b11" name="b11" checked/>
                    <label for="b11"><img src="{{ asset('img/connect/c19-c20.svg')}}" class="svg-inject" alt="c19-c20"/></label>
                </div>
                <div class="radio">
                    <input type="checkbox" id="b12" name="b12" checked/>
                    <label for="b12"><img src="{{ asset('img/connect/c21-c22.svg')}}" class="svg-inject" alt="c21-c22"/></label>
                </div>
                <div class="radio">
                    <input type="checkbox" id="b13" name="b13" checked/>
                    <label for="b13"><img src="{{ asset('img/connect/c23-c24.svg')}}" class="svg-inject" alt="c23-c24"/></label>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block jacable_body %}
<h3>Showing <span data-bind="text: filteredCables().length"></span> result<span data-bind="visible: filteredCables().length>1">s.</span></h3>
<ul class="phones" data-bind="foreach: filteredCables().sort(sorter)">
    <li>
        <h4>
            <a href="#" data-bind="text: name, attr: { href: id}"></a>
        </h4>
        <div class="item-wrap">
            <div class="charge-list-img float-left">
                <a class="thumb" data-bind="attr: { href: id}"><img data-bind="attr: { src: configuration.chargerImgUrl + imageUrl, alt:name, title:name }" /></a>
            </div>
            <div class="float-left">
                <p data-bind="text: snippet"></p>
                <p data-bind="text: type"></p>
                <a href="" data-bind="attr: { href: remRoute}">remove</a>
            </div>
        </div>
        <div class="float-right item-specs">
            <div class="sub-specs">
                <i class="fa fa-bolt"></i> <span data-bind="text: volts"></span> volts
            </div>
            <div class="sub-specs">
                <i class="fa fa-plug"></i> <span data-bind="text: amps"></span> amp
            </div>
            <div class="sub-specs">
                <i class="fa fa-arrows-h"></i> <span data-bind="text: length"></span> m
            </div>
        </div>
        <div class="clearfix"></div>
    </li>
</ul>
{% endblock %}