{# app/Resources/views/layout.html.twig #}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>cableXchange</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{ asset('css/main.css')}}" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css"/>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ asset('js/lib/ko/knockout.js')}}"></script>
    <script type="text/javascript" src="{{ asset('js/lib/ko/mapping.js')}}"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    <!--
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
    <script type="text/javascript" src="js/controllers.js"></script>
    -->
</head>
<body ng-controller="PhoneListCtrl">
    {% block user_bar %}
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            Connecté en tant que
            <a href="{{ path('fos_user_profile_edit') }}">{{ app.user.username }}</a> -
            <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
        {% else %}
            <a href="{{ path('fos_user_security_login') }}">Connexion</a>
        {% endif %}
    {% endblock %}
    <div class="container-fluid">
        <h1>
            <a href="{{ path('ja_cable_home') }}">cableXchange</a>
        </h1>
        <div class="row page-body">
            <div class="left-side col-md-2">
                <div id="sidebar">
                    {% block sidebar %}
                    <!--Sidebar content-->
                    {% endblock %}
                </div>
            </div>
            <div class="right-side col-md-10">
                {% block body %}
                {% endblock %}

            </div>
        </div>
    </div>

<script type="text/javascript">
    var configuration = {
        JSONUrl: "{{ path('ja_cable_json') }}",
        chargerImgUrl: "{{ asset('img/chargers/') }}"
    }
</script>

<script type="text/javascript" src="{{ asset('js/lib/ko/sel2-binding.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/ko-controller.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/ui.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/svg-inject.js') }}"></script>

</body>
</html>